In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Load the data

In [2]:
data = pd.read_csv("/content/drive/MyDrive/Dataset/FAOSTAT_data_en_5-14-2023.csv")
data.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,4,Afghanistan,5510,Production,113,Rice,2017,2017,tonnes,338420.00,A,Official figure
1,QCL,Crops and livestock products,4,Afghanistan,5510,Production,113,Rice,2018,2018,tonnes,352177.00,A,Official figure
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,113,Rice,2019,2019,tonnes,382500.00,A,Official figure
3,QCL,Crops and livestock products,4,Afghanistan,5510,Production,113,Rice,2020,2020,tonnes,439549.00,A,Official figure
4,QCL,Crops and livestock products,4,Afghanistan,5510,Production,113,Rice,2021,2021,tonnes,458571.64,I,Imputed value

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       702 non-null    object
 1   Domain            702 non-null    object
 2   Area Code (M49)   702 non-null    int64
 3   Area              702 non-null    object
 4   Element Code      702 non-null    int64
 5   Element           702 non-null    object
 6   Item Code (CPC)   702 non-null    int64
 7   Item              702 non-null    object
 8   Year Code         702 non-null    int64
 9   Year              702 non-null    int64
 10  Unit              702 non-null    object
 11  Value             702 non-null    float64
 12  Flag              702 non-null    object
 13  Flag Description  702 non-null    object
dtypes: float64(1), int64(5), object(8)
memory usage: 76.9+ KB

In [3]:
## Let's check out the data using the describe method

data.describe()

,Area Code (M49),Element Code,Item Code (CPC),Year Code,Year,Value
count,702.00000,702.0,702.0,702.000000,702.000000,7.020000e+02
mean,427.47151,5510.0,113.0,2019.051282,2019.051282,6.965645e+06
std,253.45120,0.0,0.0,1.396017,1.396017,3.014558e+07
min,4.00000,5510.0,113.0,2017.000000,2017.000000,0.000000e+00
25%,196.00000,5510.0,113.0,2018.000000,2018.000000,2.690590e+03
50%,413.50000,5510.0,113.0,2019.000000,2019.000000,1.602925e+05
75%,643.00000,5510.0,113.0,2020.000000,2020.000000,1.243050e+06
max,894.00000,5510.0,113.0,2021.000000,2021.000000,2.144299e+08

In [8]:
for col in data.columns:
    print(f"Column: {col}\nNumber of Unique elements: {data[col].nunique()}")
    print(f"Unique elements: {data[col].unique()}\n" + "--" * 80)

Column: Domain Code
Number of Unique elements: 1
Unique elements: ['QCL']
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Domain
Number of Unique elements: 1
Unique elements: ['Crops and livestock products']
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Area Code (M49)
Number of Unique elements: 144
Unique elements: [  4   8  12  24  32  51  36  31  50  56  84 204  64  68  76  96 100 854
 108 116 120 140 148 152 159 344 156 158 170 174 178 188 384 191 192 196
 203 408 180 208 214 218 818 222 233 748 231 242 246 250 266 270 276 288
 300 320 324 624 328 332 340 348 356 360 364 368 372 380 388 392 398 404
 417 418 428 430 440 442 450 454 458 466 470 478 480 484 583 504 508 104
 524 528 554 558 562 566 807 586 591 598 600 604 608 616 620 630 410 498
 642 643 646 670 682 686 694 703 705  90 706 710 728 724 144 729 740 752
 760 762 764 626 768 780 792 795 800 804 834 840 858 860 862 704 894 716]
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Area
Number of Unique elements: 144
Unique elements: ['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Azerbaijan' 'Bangladesh' 'Belgium' 'Belize' 'Benin' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Central African Republic' 'Chad' 'Chile' 'China' 'China, Hong Kong SAR'
 'China, mainland' 'China, Taiwan Province of' 'Colombia' 'Comoros'
 'Congo' 'Costa Rica' "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Dominican Republic'
 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'Gabon' 'Gambia' 'Germany' 'Ghana' 'Greece'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Italy' 'Jamaica' 'Japan' 'Kazakhstan' 'Kenya' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Liberia' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Federated States of)' 'Morocco'
 'Mozambique' 'Myanmar' 'Nepal' 'Netherlands (Kingdom of the)'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Pakistan'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Republic of Korea' 'Republic of Moldova'
 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Vincent and the Grenadines' 'Saudi Arabia' 'Senegal'
 'Sierra Leone' 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia'
 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Timor-Leste'
 'Togo' 'Trinidad and Tobago' 'Türkiye' 'Turkmenistan' 'Uganda' 'Ukraine'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Venezuela (Bolivarian Republic of)' 'Viet Nam' 'Zambia'
 'Zimbabwe']
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Element Code
Number of Unique elements: 1
Unique elements: [5510]
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Element
Number of Unique elements: 1
Unique elements: ['Production']
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Item Code (CPC)
Number of Unique elements: 1
Unique elements: [113]
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Item
Number of Unique elements: 1
Unique elements: ['Rice']
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Year Code
Number of Unique elements: 5
Unique elements: [2017 2018 2019 2020 2021]
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Year
Number of Unique elements: 5
Unique elements: [2017 2018 2019 2020 2021]
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Unit
Number of Unique elements: 1
Unique elements: ['tonnes']
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Value
Number of Unique elements: 581
Unique elements: [3.38420000e+05 3.52177000e+05 3.82500000e+05 4.39549000e+05
 4.58571640e+05 0.00000000e+00 3.16140000e+02 3.15340000e+02
 3.12780000e+02 3.14750000e+02 3.14290000e+02 9.42600000e+03
 9.69900000e+03 1.01020000e+04 1.05670000e+04 1.05140000e+04
 1.32834000e+06 1.36796800e+06 1.18986600e+06 1.22291000e+06
 1.45318700e+06 8.07304460e+05 6.35113000e+05 6.68353400e+04
 5.02263300e+04 4.22977540e+05 1.59157000e+04 1.19746000e+04
 1.10700000e+04 9.39730000e+03 1.00623000e+04 5.41480000e+07
 5.44160000e+07 5.45863440e+07 5.49058910e+07 5.69445540e+07
 1.87510000e+04 1.33750000e+04 1.39000000e+04 1.39420000e+04
 1.49900000e+04 2.78717550e+05 4.59313020e+05 4.06082780e+05
 4.11578140e+05 5.19666840e+05 8.63850000e+04 6.38898200e+04
 4.99480500e+04 5.40884000e+04 4.05079000e+04 4.78578450e+05
 5.41157000e+05 6.00044000e+05 4.87427000e+05 5.50181520e+05
 1.24647660e+07 1.18084120e+07 1.03686390e+07 1.10910110e+07
 1.16606030e+07 1.52700000e+03 1.56900000e+03 1.49995000e+03
 2.51131000e+03 2.67500000e+03 5.85230000e+04 6.07200000e+04
 7.09200000e+04 6.58100000e+04 5.81200000e+04 3.25566000e+05
 3.50392000e+05 3.76527250e+05 4.51421000e+05 4.51000000e+05
 8.82979000e+04 8.92962000e+04 2.41210700e+05 1.50000000e+05
 1.20000000e+05 1.05180000e+07 1.08920000e+07 1.08857000e+07
 1.12480000e+07 1.14100000e+07 2.60000000e+05 3.34200000e+05
 3.34442990e+05 3.39974360e+05 3.62294450e+05 1.20000000e+04
 1.25520000e+04 1.30550000e+04 1.28089600e+04 2.63555000e+05
 2.59539850e+05 2.90563000e+05 2.78052850e+05 2.42646700e+05
 1.27866000e+05 1.92808000e+05 1.74897200e+05 1.69697000e+05
 1.46085100e+05 2.14429949e+08 2.14078796e+08 2.11405211e+08
 2.13610729e+08 2.14403870e+08 5.00000000e-02 2.12675900e+08
 2.12129000e+08 2.09614000e+08 2.11860000e+08 2.12843000e+08
 1.75404900e+06 1.94979600e+06 1.79121100e+06 1.75072900e+06
 1.56087000e+06 3.29298300e+06 2.94485985e+06 3.01231094e+06
 3.42411891e+06 3.32652895e+06 3.15864200e+04 3.09566200e+04
 3.12006600e+04 3.12479000e+04 3.11350600e+04 1.20535000e+03
 1.16262000e+03 1.13143000e+03 1.09898000e+03 1.00000000e+03
 1.52851000e+05 1.79638300e+05 1.57015500e+05 1.46571000e+05
 1.51018000e+05 2.12000000e+06 2.00684500e+06 1.88395600e+06
 1.48118200e+06 1.65900000e+06 4.04733000e+05 4.60869750e+05
 3.91842000e+05 2.66595100e+05 2.25786000e+05 2.38327660e+06
 2.08762280e+06 2.80371330e+06 2.11301860e+06 1.85484142e+06
 1.21300600e+06 1.28687200e+06 1.37884600e+06 1.47629000e+06
 1.58062000e+06 9.05051000e+05 9.65250000e+05 9.19464000e+05
 9.34754000e+05 1.00639400e+06 1.06661400e+06 1.35009300e+06
 1.09968646e+06 1.33650200e+06 1.50421362e+06 4.96066200e+06
 3.12370800e+06 4.80429600e+06 4.80400000e+06 4.84132710e+06
 2.96163200e+04 2.27635000e+04 2.76030000e+04 2.34974200e+04
 2.40000000e+04 9.43500000e+02 1.51018330e+05 1.71854100e+05
 1.70630100e+05 1.89648700e+05 2.00000000e+05 9.08100000e+03
 7.05100000e+03 6.58915000e+03 8.84696000e+03 1.03677500e+04
 9.25440000e+04 7.14300000e+04 8.25700000e+04 7.63200000e+04
 6.23400000e+04 1.69196000e+03 1.70129000e+03 1.70695000e+03
 1.70006000e+03 1.70277000e+03 3.00000000e+04 2.80000000e+04
 3.19000000e+04 4.03000000e+04 4.19000000e+04 7.22080110e+05
 7.69400870e+05 9.25000000e+05 9.86900000e+05 1.23120000e+06
 2.55418000e+05 2.22690000e+05 2.20930000e+05 2.87410000e+05
 2.41650000e+05 3.18310000e+04 3.25640000e+04 2.27760000e+04
 2.35830000e+04 3.30000000e+04 2.19790700e+06 2.33974700e+06
 2.38592900e+06 2.45901500e+06 2.47532500e+06 1.65000000e+05
 1.76000000e+05 1.87000000e+05 1.98142000e+05 2.13918000e+05
 6.30104060e+05 6.26660000e+05 6.82418420e+05 6.87539040e+05
 5.59113000e+05 1.79000000e+05 1.64643000e+05 1.86087000e+05
 1.72000000e+05 1.55000000e+05 5.96340000e+04 5.96481100e+04
 5.65227600e+04 6.56342800e+04 5.38201400e+04 1.23030000e+04
 1.34200000e+04 1.10300000e+04 1.17400000e+04 9.52000000e+03
 1.69136415e+08 1.74716730e+08 1.78305480e+08 1.86500000e+08
 1.95425000e+08 5.52520000e+07 5.92005340e+07 5.46040330e+07
 5.46492022e+07 5.44152940e+07 1.95628100e+06 2.10659848e+06
 2.48641861e+06 1.82036822e+06 1.59534462e+06 2.65852000e+05
 1.81960000e+04 5.74705000e+05 4.64159000e+05 4.22463000e+05
 1.59802700e+06 1.47009000e+06 1.49262000e+06 1.50749000e+06
 1.45931000e+06 1.00000000e+00 1.07770000e+07 1.06060000e+07
 1.05401000e+07 1.04690000e+07 1.05254000e+07 4.89485000e+05
 4.82945000e+05 5.60667720e+05 5.56774770e+05 5.03771300e+05
 8.11980000e+04 1.12605000e+05 1.60585000e+05 1.80890000e+05
 1.86000000e+05 3.81796000e+04 4.07830000e+04 4.12191000e+04
 4.44736000e+04 4.63380000e+04 4.03977900e+06 3.58470000e+06
 3.53450000e+06 3.51910000e+06 3.87000000e+06 2.47495000e+05
 2.57995000e+05 2.76400000e+05 2.79000000e+05 2.55600000e+05
 3.60050000e+06 4.03000000e+06 3.91062900e+06 4.22792700e+06
 4.39138600e+06 1.21079000e+05 1.12313000e+05 1.32728000e+05
 1.45445500e+05 1.47100000e+05 2.57051300e+06 2.63920200e+06
 2.35287000e+06 2.35639190e+06 2.41814800e+06 2.70755700e+06
 3.16752762e+06 3.19633600e+06 3.01002700e+06 2.42024500e+06
 3.01000000e+05 3.23000000e+05 2.55500000e+05 2.91300000e+05
 4.28400000e+05 1.60000000e+02 1.90000000e+01 2.10000000e+01
 2.65567300e+05 2.83763370e+05 2.45217410e+05 2.95337840e+05
 2.57041440e+05 1.77400000e+02 1.73670000e+02 1.74980000e+02
 1.75350000e+02 1.74670000e+02 5.76975000e+04 6.30371000e+04
 6.45981000e+04 6.57000000e+04 5.09007000e+04 1.38000000e+05
 1.70129000e+05 1.79836000e+05 1.37243000e+05 1.89000000e+05
 2.65463859e+07 2.75735891e+07 2.62698140e+07 2.59826960e+07
 2.49100000e+07 5.23032700e+06 5.15192500e+06 5.61001100e+06
 5.55087800e+06 5.62171000e+06 4.22611740e+05 4.38079000e+05
 4.68319000e+05 4.76992000e+05 4.91815000e+05 1.12632000e+05
 1.01606560e+05 1.21760370e+05 1.79382450e+05 2.23970000e+04
 1.08895490e+07 1.08585370e+07 8.43551000e+06 8.17180000e+06
 8.34200000e+06 1.70800000e+04 1.97320000e+04 2.12780000e+04
 1.95180000e+04 1.89620000e+04 1.11748155e+07 7.20196600e+06
 1.11204830e+07 1.26295140e+07 1.39840090e+07 3.16403000e+05
 3.50195000e+05 3.72245000e+05 3.91600000e+05 4.06370000e+05
 8.59040000e+02 8.74520000e+02 8.72990000e+02 8.76390000e+02
 8.79640000e+02 9.24000000e+05 8.94600000e+05 1.06920000e+06
 1.18776800e+06 1.18060000e+06 3.11554400e+06 3.55789999e+06
 3.19096947e+06 3.43419900e+06 3.47430700e+06 1.92763466e+07
 1.90660939e+07 1.88148273e+07 1.92948555e+07 1.99601702e+07
 1.79777000e+05 1.60790000e+05 1.61500000e+05 1.32790000e+05
 1.75900000e+05 1.51820000e+02 1.86150000e+02 1.50610000e+02
 1.62860000e+02 1.66540000e+02 5.28555100e+06 5.19543700e+06
 5.01608300e+06 4.71316200e+06 5.21103700e+06 4.33110000e+04
 4.28600000e+04 3.95300000e+04 2.46700000e+04 1.49800000e+04
 9.86619600e+05 1.03822200e+06 1.09865970e+06 1.14181890e+06
 1.07641150e+06 1.08958150e+05 1.13880460e+05 1.31576890e+05
 1.16504470e+05 1.31758000e+05 1.20000000e+01 1.80000000e+01
 4.00000000e+02 7.87000000e+02 8.14000000e+02 1.01126900e+06
 1.20658727e+06 1.15573028e+06 1.34972301e+06 1.38211993e+06
 8.97087000e+05 9.18713000e+05 9.47464000e+05 1.04979500e+06
 1.97890517e+06 2.74661000e+03 2.74645000e+03 2.73736000e+03
 2.74252000e+03 2.74768000e+03 1.47351000e+03 1.76617000e+03
 1.53823000e+03 1.59264000e+03 1.63235000e+03 3.07922000e+03
 3.07873000e+03 3.07891000e+03 3.07961000e+03 3.08032000e+03
 1.30220000e+04 1.28210000e+04 2.45550000e+04 2.62320000e+04
 2.60240000e+04 8.35178000e+05 7.98880000e+05 7.78780000e+05
 7.39230000e+05 6.17180000e+05 2.38315300e+06 3.92983100e+06
 4.59205600e+06 5.12092400e+06 5.14959600e+06 3.20000000e+04
 3.41333300e+04 2.50000000e+04 2.89431000e+05 2.73916000e+05
 2.74266000e+05 2.49836000e+05 2.63749000e+05 9.77630000e+04
 9.04460000e+04 1.06441700e+05 9.90000000e+04 6.70000000e+04
 3.28989030e+07 3.23481140e+07 2.86179480e+07 3.02310250e+07
 3.35820000e+07 6.21146400e+04 5.70000000e+04 4.78220000e+04
 4.99830000e+04 4.54550000e+04 1.40519000e+05 1.45489000e+05
 1.47053000e+05 1.60000000e+05 1.62000000e+03 5.86000000e+02
 5.75000000e+02 7.34000000e+02 3.51100000e+02 9.00000000e+05
 9.40000000e+05 1.00000000e+06 9.80000000e+05 1.30000000e+05
 8.50697000e+04 8.62341000e+04 8.28279800e+04 1.88674000e+05
 1.99266000e+05 1.66000000e+05 3.73000000e+05 3.03283180e+05
 6.39400000e+04 6.92100000e+04 5.45700000e+04 6.06800000e+04
 4.94800000e+04 2.45170700e+06 3.41481500e+06 3.47476600e+06
 3.03800000e+06 2.68800000e+06 8.08429000e+06 1.01528900e+07
 8.39618000e+06 1.03198600e+07 8.69972000e+06 1.40958200e+06
 1.24700000e+06 1.20000000e+06 1.20900000e+06 1.30900000e+06
 3.95422000e+05 2.21089000e+05 3.14659000e+05 2.93451000e+05
 3.34226000e+05 5.88587000e+05 4.90583000e+05 5.16752000e+05
 7.04531000e+05 7.88422500e+05 4.27636824e+07 4.40462496e+07
 4.34954876e+07 4.27649998e+07 4.38527287e+07 3.84229000e+04
 4.30631100e+04 2.95843200e+04 3.46296600e+04 6.58758300e+04
 1.32690000e+03 1.34247000e+03 1.13400000e+03 7.50000000e+02
 2.90800000e+03]
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Flag
Number of Unique elements: 5
Unique elements: ['A' 'I' 'M' 'E' 'T']
----------------------------------------------------------------------------------------------------------------------------------------------------------------
Column: Flag Description
Number of Unique elements: 5
Unique elements: ['Official figure' 'Imputed value'
 'Missing value (data cannot exist, not applicable)' 'Estimated value'
 'Unofficial figure']
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Let's first drop a few column and change a few column names

In [11]:
data.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description'],
      dtype='object')

In [13]:
data.drop(['Domain Code', 'Domain', 'Element Code', 'Item Code (CPC)', 'Item', 'Year Code', 'Unit'], axis=1, inplace=True)

In [14]:
print(data.columns)

Index(['Area Code (M49)', 'Area', 'Element', 'Year', 'Value', 'Flag',
       'Flag Description'],
      dtype='object')

In [15]:
data.head(1)

,Area Code (M49),Area,Element,Year,Value,Flag,Flag Description
0,4,Afghanistan,Production,2017,338420.0,A,Official figure

In [19]:
data.rename(columns={'Value': 'Value (tonnes)'}, inplace=True)

In [20]:
data.head()

,Area Code (M49),Area,Element,Year,Value (tonnes),Flag,Flag Description
0,4,Afghanistan,Production,2017,338420.00,A,Official figure
1,4,Afghanistan,Production,2018,352177.00,A,Official figure
2,4,Afghanistan,Production,2019,382500.00,A,Official figure
3,4,Afghanistan,Production,2020,439549.00,A,Official figure
4,4,Afghanistan,Production,2021,458571.64,I,Imputed value

In [22]:
data[data['Value (tonnes)'] == data['Value (tonnes)'].max()]

,Area Code (M49),Area,Element,Year,Value (tonnes),Flag,Flag Description
119,159,China,Production,2017,2.144299e+08,E,Estimated value

What are the top 5 countries that produces rice in terms of quantity

In [28]:
data.loc[data['Year'] == 2021].sort_values(by='Value (tonnes)', ascending=False).head(10)

,Area Code (M49),Area,Element,Year,Value (tonnes),Flag,Flag Description
123,159,China,Production,2021,2.144039e+08,E,Estimated value
133,156,"China, mainland",Production,2021,2.128430e+08,A,Official figure
306,356,India,Production,2021,1.954250e+08,A,Official figure
44,50,Bangladesh,Production,2021,5.694455e+07,I,Imputed value
311,360,Indonesia,Production,2021,5.441529e+07,A,Official figure
691,704,Viet Nam,Production,2021,4.385273e+07,A,Official figure
626,764,Thailand,Production,2021,3.358200e+07,A,Official figure
436,104,Myanmar,Production,2021,2.491000e+07,T,Unofficial figure
500,608,Philippines,Production,2021,1.996017e+07,A,Official figure
475,586,Pakistan,Production,2021,1.398401e+07,A,Official figure